<Router ref:router></Router>
<SomeView ref:someView></SomeView>
<AnotherView ref:anotherView></AnotherView>
<DefaultView ref:defaultView></DefaultView>

<script type="text/javascript">
  import Router from './Router.html';
  import SomeView from './SomeView.html';
  import AnotherView from './AnotherView.html';
  import DefaultView from './DefaultView.html';

  export default {
    onrender() {
      this.refs.router.setRoutes({
        'the-default-view': this.refs.defaultView,
        'some-view': this.refs.someView,
        'another-view': this.refs.anotherView
      })
    },
    components: {
      Router, SomeView, AnotherView, DefaultView
    }
  };
</script>