<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Svelte app with routing</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<nav role="navigation">
  <ul>
    <li><a href="#the-default-view">Default view</a></li>
    <li><a href="#some-view">Some view</a></li>
    <li><a href="#another-view">Another view</a></li>
  </ul>
</nav>
<main role="main">
</main>
</body>
</html>
